@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    Institute of Technology Tallaght <br />
    H.Dip in Science in Computing 2018<br />
    <abbr title="Phone">P:</abbr>
    425.555.0100
</address>

<address>
    <strong>Support #1:</strong>   <a href="mailto:markfeighery@gmail.com">MarkFeighery@gmail.com</a><br />
    <strong>Support #2:</strong> <a href="mailto:trevorjhunt@gmail.com">TrevorJHunt@gmail.com</a>
</address>