@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1><font color="#0943a3">iCanDo-IT</font></h1>
    <p class="lead">iCanDo-IT is a learning repository primarily for eLearning with catalogued links to useful doucumetation and tutorials.  <br/>
        <p> </p>The purpose of this site is to aid professionals with CPD and provide access to free online resources for both professional and students</p>
    <p><a href="https://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Welcome to iCanDo-IT... <br/>Free online learning repository:</h2>
        <p>
            This website was developed using ASP.NET MVC by two students at IT Talaght. <br/>
            The website gives you access to learning resources for developing IT Skills.  
            This Website is a One-Stop-Shop... without the sales or credit card requirements rich with tutorials and on-line learning video links which we found useful while studying.
            Jump start and Deep dive ... its sink or swim time!
        </p>
        <p><a class="btn btn-default" href="https://www.linkedin.com/in/mark-feighery-33532b63/">LinkedIn - Mark Feighery &raquo;</a></p>
        
        <p><a class="btn btn-default" href="https://www.linkedin.com/in/mark-feighery-33532b63/">LinkedIn - Mark Feighery &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Top recommended <br/>
            On-Line Tutorial Websites</h2>
        <p>Below are links to some of the libraries that we found useful when creating this website.</p>
        <p><a class="btn btn-default" href="https://channel9.msdn.com/">MSDN Channel 9 &raquo;</a></p>
        <p><a class="btn btn-default" href="https://www.microsoftvirtualacademy.com">MVA - Microsoft Virtual Academy &raquo;</a></p>
        <p><a class="btn btn-default" href="https://www.tutorialspoint.com">Tutorials Point &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Cloud Services -<br/> Microsoft Azure</h2>
        <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
        <p><a class="btn btn-default" href="https://azure.microsoft.com/en-us/">Azure set up an account &raquo;</a></p>
    </div>
</div>